/* src/pages/auth/styles/authPage.module.css */
button {
  cursor: pointer;
}
.authPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
  --opacidad-black-start: 0.1;
  --opacidad-black-end: 0.8;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-black-start, 0.1)),
      rgba(0, 0, 0, var(--opacidad-black-end))
    ),
    url('/src/assets/fintrackDemo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.logoContainer {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logoText {
  color: black;
}
/*ul*/
.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.navList {
  /* background-color: black; */
  border: none;
}
/*li*/
.navItem {
  border: 3px solid black;
  cursor: pointer;
  font-weight: bold;
}
.navItem {
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  margin-right: 1rem;
}

.navItem:hover {
  color: #007bff;
  font-weight: bolder;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menuToggleButton {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  background: none;
  border: none;
  padding: 0;
}
.menuToggleButton {
  color: black;
}
/*MODAL*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(2px);
}

.modalContent {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%; /* Ajusta el ancho según necesites */
  max-width: 400px;
}

.modalContent h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.closeButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}
.closeButton:hover {
  background-color: #c82333;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 480px) {
  .navList {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 3.5rem; /* Ajusta según la altura de navbar */
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 10;
  }

  .navMenuActive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .navButton {
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .menuToggleButton {
    display: block; /* Visible en pantallas pequeñas */
  }

  .logoContainer {
    font-size: 1.2rem; /* adjust logo text size */
  }
}
