/*forms-styles.css*/

[class*='icon'] {
  cursor: pointer;
}

.page__container {
  min-height: 50rem;
  min-width: 22.5rem;

  width: 33.3%;
  /* height: 48rem; */

  margin: 0 auto;
  display: flex;
  flex-direction: column;

  /* gap: 2rem; */
  /* position: relative; */
  /* width: 50%; */
  padding: 0 1rem;

  /* border: 5px solid var(--primary); */
}

.page__content {
  all: unset;
  width: 85%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding-bottom: 1rem;
  /* border: 5px solid var(--primary); */
}

/* form title */
.page__content .main__title--container {
  /* all:unset; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  position: relative;
  /* border: 1px solid var(--primary); */
}

label,
.form__title,
.labelText {
  color: var(--light);
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  /* border: 1px solid var(--primary); */
}

label,
.labelText {
  text-align: left;
}

.iconLeftArrow {
  position: absolute;
  left: 0;
  display: flex;
}

/*--------------*/

.container--categoryName,
.form__container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem 1rem 0;
  gap: 1rem;
  border: 5px solid var(--primary);
}

.input__box {
  text-align-last: left;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: 3px solid var(--primary1, red); */
}

.input__container {
  border: 1px solid var(--creme);
  height: 2.625em;
  border-radius: 1rem;
  color: var(--creme);
  padding: 0.25rem;
  /* border: 5px solid var(--primary); */
}

/*dark forms*/
.input__container::placeholder {
  /* color: var(--creme); */
  color: rgb(151, 151, 151);
  font-size: 0.875rem;
  padding-left: 0.5em;
  font-weight: 500;
  text-transform: capitalize;
  /* border: 5px solid var(--primary); */
}

.input__container.input__container--amount {
  padding: 0.75rem;
  height: 2rem;
}

.input__container.input__container--amount::placeholder {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/*categoryNature*/
.form__title--tiles {
  text-align-last: left;
}

.tiles__container {
  gap: 1rem 0.25rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nature__tiles {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  flex-wrap: wrap;
}

.tile__button {
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.75rem;
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
  padding: 0.5rem 0.375rem;
  min-width: 5.75rem;
  height: 2.5rem;
}

/*------save btn-----------*/
.submit__btn__container {
  padding-top: 2.5rem;
}

.submit__btn {
  height: 3.125rem;
  width: 100%;
  color: var(--dark);
  background-color: var(--creme);
  border-radius: 0.75em;
  /* font-size: 0.875rem; */
  font-size: 1rem;
  text-align: center;
  /* font-weight: 600; */
  font-weight: bold;
}

/*NewPocket*/
/*target amount */
.targetAmount.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem 1rem 0.5rem 0.5rem;
  gap: 0.25rem;

  height: 4.25rem;
  width: 100%;

  text-transform: capitalize;
  /* background-color: red; */
}
.label__target {
  flex: 40%;
  font-size: 1rem;
}

.target__label__amount {
  display: flex;
}

.target__label__saved {
  width: 100%;
  color: #857f7f;
  line-height: 1.25rem;
  font-size: 0.875rem;
}

.input__targetAmount {
  flex: 60%;
  text-align-last: right;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;

  /* padding: 0; */
  /* margin: 0; */
  /* overflow-y: hidden; */
  /* background-color: orange; */
}

.input__targetAmount::placeholder {
  background-color: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
}

textarea:invalid {
  border: 1px dashed tomato;
}

/*------------*/
/*--Date Picker input form--*/

/* .form__datepicker__container {
  border: 1px solid var(--creme);
  height: 2.625em;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
    display: flex;
  flex-direction: column;
} */

/*--New Account--*/
.account__dateAndCurrency {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 24%;
}

.account__date,
.account__currency {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  /* border: 1px solid red; */
}

/*------------*/
/*--Account Detail--*/
.icon3dots {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

/*----Pocket Detail----*/
.inputAmountAndPlusSign {
  display: flex;
  gap: 0.5rem;
}
.input__container--amount {
  background-color: transparent;
  font-size: 1.25rem;
  padding: 0 0.75rem;
  height: 2rem;
}

.iconPlusSign {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: 1px solid #f7f7f7;
  background-color: transparent;
}
