/* src/pages/auth/styles/authLayout.module.css */
button {
  cursor: pointer;
}
.authLayoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4; /* Un fondo claro para el layout */
  --opacidad-negro: 0.7;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-negro)),
      rgba(0, 0, 0, var(--opacidad-negro))
    ),
    url('/src/assets/fintrackDemo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.logoContainer {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.logoText {
  color: black;
  /* Estilos para el texto del logo si no usas una imagen */
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.navList {
  /* background-color: black; */
  border: none;
}
/*li*/
.navItem {
  /* Estilos para cada item de la lista */
  border: 1px solid black;
}
.navItem {
  padding: 0.5rem;
  width: 5rem;
  height: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-right: 1rem;
}

/* .navLink {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
} */

/* .navLink:hover {
  color: #007bff;
} */
/*El atributo composes es una característica de CSS Modules que permite heredar estilos de otra clase*/
/* .navLinkActive {
  composes: navLink;
  color: #0056b3;
  font-weight: bold;
} */
/* .navButton {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
  background-color: red;
}

.navButton:hover {
  color: #007bff;
} */

.mainContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.menuToggleButton {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  background: none;
  border: none;
  padding: 0;
}
.menuToggleButton {
  color: black;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%; /* Ajusta el ancho según necesites */
  max-width: 400px; /* Ancho máximo del modal */
}

.modalContent h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.closeButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}
.closeButton:hover {
  background-color: #c82333;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 480px) {
  .navList {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 3.5rem; /* Ajusta según la altura de tu navbar */
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 10;
  }

  .navMenuActive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
  }

  .navButton {
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
  }

  .menuToggleButton {
    display: block; /* Visible en pantallas pequeñas */
  }

  .logoContainer {
    font-size: 1.2rem; /* Ajusta el tamaño del logo en pantallas pequeñas */
  }
}
