/*frontend\src\auth\components\userProfileBadge\UserProfileBadge.module.css*/


@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.badgeContainer{
 display: flex;
 align-items: center;
 gap: 0.75rem;
 padding: 0.5rem;
 border-radius: 2rem;
 transition:background-color 0.2s;
}

.userAvatar {
  width: 22px;
  height: 22px;
  background-color: rgb(16, 163, 127);
  /* color: white; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.9rem;
}

.userAvatar{
 border-radius: 0.3rem;
 border: 2.7px solid black;
 background-color: #fff;
 /* font-style: italic !important; */
 font-family: "Style Script", cursive;
 color:#000;
}

.userInfo{
 display: flex;
 flex-direction: column;
}

.userName{
 font-size: 0.9rem;
 font-weight: 600;
 line-height: 1;
}

.userEmail{
 font-size: 0.75rem;
 color:#777;
}
